.earthh
{
height: 80px;
}
.bg
{
    background-image: url(IMG_3407-1536x1152.jpg);
    background-size: cover;
    height: 100vh;
}
.link1 a
{
    padding-left: 20px;
}
.head h1
{
    color: white;
    padding-top: 500px;
    padding-left: 200px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.head h1
{
    padding-right: 70px;
}
.parent
{
    display: flex;
  
}
.child{

    border-right: 5px solid black; 
    flex: 120%;
}
.child img
{
    height: 370px;   
    border-right: 5px; 
                       
    
}
.child2
{
    flex: 50%;
    position: relative;
    left: 20px;    
}



